<!DOCTYPE html>

<html lang="en" dir="ltr">
  <hea>
    <meta charset="utf-8">
    <title>meli alexander</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="icon" type="image/png" sizes="16x16"  href="/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Josefin+Slab:wght@300&family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Poiret+One&display=swap" rel="stylesheet">
  </hea>

 <body>
  <div class="navbar">

  </div>

  <div class="top-cont">
    <h1>meli alexander</h1>
    <p class="tagline"><em>formerCHEF aspiringDEVELOPER</em></p>
    <img class="food" src="static/open.png" alt="cuttingboard-img">
    <img class="food" src="static/asparagus.png" alt="cuttingboard-img">
    <img class="food" src="static/beets.png" alt="cuttingboard-img">
    <img class="food" src="static/garlic.png" alt="cuttingboard-img">
    <img class="food" src="static/herbs.png" alt="cuttingboard-img">
    <img class="food" src="static/radish.png" alt="cuttingboard-img">
    <img class="food" src="static/redonion.png" alt="cuttingboard-img">
    <img class="food" src="static/shrooms.png" alt="cuttingboard-img">
    <img class="food" src="static/closed.png" alt="cuttingboard-img">
  </div>

  <div class="mid-cont">
    <hr size="3" color="#821752">
    <p>' With a strong sense of creativity and style,</p>
    <p> Meli honed her skills in culinary and all aspects of the hospitality industry</p>
    <p>before setting out on a new learning curve in computers.</p>
    <p>She is both a creative and critical thinker.  Her analytical skills </p>
    <p>are mirrored alongside vast knowledge of leadership and management.</p>
    <p>She hopes to merge culinary and computers to better help the industry.'</p>
    </em>
    </p>
  </div>

  <hr size="3" color="#821752">

  <div class="skills">
    <h3>Skills</h3>
    <div class="skill-row">

      <h2>python</h2>
      <p><em>learning python coding through Udemy, to better my skills for data analyst</em></p>
    </div>

     <div class="skill-row">
      <img class="" src="" alt="">
     <h2>html css</h2>
       <p><em>learning through Udemy</em></p>
    </div>

    <div class="skill-row">
      <img class="" src="" alt="">
      <h2>cost control</h2>
      <p>cost analysis and data analytics for hospitality industry</p>
    </div>

     <div class="skill-row">
      <img class="" src="" alt="">
      <h2>inventory management</h2>
      <p>structured inventory and purchasing dynamics for scalability and proper tracking</p>
 </div>





  </div>

  <hr size="3" color="#821752">

  <div class="experience">
    <h3>Experiences</h3>
    <h2>Balsams Hotel in Northern New Hampshire</h2>
    <p>Apprentice working four years in the kitchens all over USA</p>
     <h2>Williamsburg Inn in Colonial Williamsburg Virginia</h2>
    <p>Executive Sous Chef, Banquet and Wedding Chef, Resort Chef</p>
    <h2>Gateway Canyons Resort in Colorado West Slope</h2>
     <p>Executive Chef, Inventory Specialist, Purchaser and Receiver </p>
     <p></p>
    <p></p>


  </div>

  <hr size="3" color="#821752">

  <div class="contact-me">
    <img class="follow" src="static/follow.png" alt="followme">
    <h2>vist me !</h2>
    <p><em>if you help me with code, i'll help you with cooking</em></p>
    <a class="btn" href="mailto:melierin8@gmail.com">contact me</a>
    <a class="footer-link" href="https://www.linkedin.com/in/meli-alexander-867048156">linkedIn</a>
    <a class="footer-link" href="https://www.instagram.com/reallyseriously/">instagram</a>
    <a class="footer-link" href="https://www.rated-m.com">website</a>
  </div>

   <hr size="3" color="#821752">

  <p>© 2022 m.alexander</p>
  <a href="https://www.flaticon.com/free-icons/followers" title="followers icons">Followers icons created by Flat Icons - Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/food" title="food icons">Food icons created by Made by Made Premium - Flaticon</a>
  <a href="https://www.flaticon.com/free-icons/web-page" title="web page icons">Web page icons created by smashingstocks - Flaticon</a>


  </div>
  </body>
  </html>
<! #CBF83E, #ABA8A9, #D8DFEE -->